---
import PageLayout from '@/layouts/CommonPage.astro'

import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import Comment from '@/components/pages/Comment.astro'
import { Button, Collapse, Spoiler, Timeline } from '@/components/user'

const design_path='/src/assets/projects/layout_pipeline.png';
const simisketch_path='/src/assets/projects/simisketch.png';

const headings = [
  {
    depth: 2,
    slug: 'myself',
    text: 'Yutong Liang'
  },
  {
    depth: 2,
    slug: 'projects',
    text: 'Research Projects'
  },
  {
    depth: 2,
    slug: 'education',
    text: 'Education'
  },
  {
    depth: 2,
    slug: 'awards',
    text: 'Awards'
  },
  {
    depth: 2,
    slug: 'skills',
    text: 'Skills'
  },
  {
    depth: 2,
    slug: 'social-networks',
    text: 'Social Networks'
  },
  {
    depth: 2,
    slug: 'interests',
    text: 'Interests'
  },
  {
    depth: 2,
    slug: 'gossips',
    text: 'Gossips'
  },
]
---

<PageLayout title='About' headings={headings} info='/about'>
  <h2 id='myself'>Yutong Liang</h2>
  <p>Student / Researcher</p>

<style>
.image-wrapper {
  float: left;
  margin: 0 24px 12px 12px;
  width: 25%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.376);
}

.content {
  overflow: auto;
  max-width: 980px;
  margin: 0 auto;
  line-height: 1.5;
}

a:hover {
  text-decoration: underline;
}

</style>

<div class="content">
  <img
    id="profile-image"
    class="image-wrapper"
    alt="Yutong Liang"
    loading="lazy"
  />
  <p>
  Hi there! I am Yutong Liang (梁昱桐), a senior undergraduate student at the <a href='https://eecs.pku.edu.cn/xxkxjsxy/Home/HOME.htm' target='_blank'>School of EECS</a> , <a href='https://www.pku.edu.cn/' target='_blank'>Peking University</a>, majoring in Computer Science.
  </p>
  <p>
  I'm interested in the field of character animation/embodied AI, supervised by <a href='https://libliu.info/' target='_blank'>Prof. Libin Liu</a> in the <a href='https://vcl.pku.edu.cn/' target='_blank'>VCL lab</a> of <a href='https://www.pku.edu.cn/' target='_blank'>Peking University</a>. 
  </p>
  <p>    
  Currently my interest is in HOI (human-object interaction) , HSI (human-scene interaction) and hands! From a long-term perspective, I want to delve deeper into how technology can understand, mimic, and generate human-like dexterous interactions with the world, in one word, making computers more like us!
  </p>
  <p>
  Previously I researched on the field of Data Structures in Network Measurement, supervised by <a href='https://yangtonghome.github.io/' target='_blank'>Prof. Tong Yang</a>.
  </p>
  <p>
  I was a research intern at <a href='https://www.stanford.edu/' target='_blank'>Stanford University</a> during the summer of 2024, where I worked with <a href='https://shellguo.com/' target='_blank'>Michelle Guo</a> and <a href='https://pei-xu.github.io/' target='_blank'>Pei Xu</a> in the <a href='https://tml.stanford.edu/' target='_blank'>TML Lab</a> and <a href='https://svl.stanford.edu/' target='_blank'>SVL Lab</a>, under the guidance of <a href='https://profiles.stanford.edu/c-karen-liu' target='_blank'>Prof. Karen Liu</a> and <a href='https://jiajunwu.com/' target='_blank'>Prof. Jiajun Wu</a>.
  </p>
  <p>
    <a href="mailto:lyt0112@outlook.com" target='_blank'>Email</a> 
    &nbsp;|&nbsp; 
    <a href="https://github.com/EmptyBlueBox" target='_blank'>GitHub</a> 
    &nbsp;|&nbsp; 
    <a href="https://x.com/YutongLiang_" target='_blank'>X</a> 
    &nbsp;|&nbsp; 
    <a href="https://www.instagram.com/yutongliang0112/" target='_blank'>Instagram</a> 
    &nbsp;|&nbsp; 
    <a href="https://www.worldcubeassociation.org/persons/2017LIAN26" target='_blank'>WCA</a> 
    <!-- &nbsp;|&nbsp;
    <a href="https://www.lyt0112.com/download/cv.pdf" target='_blank'>Curriculum Vitae</a> (Updated on 2024/11/19) -->
  </p>
  <p> 
    A Secret: <Spoiler>Click the image to change it!</Spoiler>
  </p>
</div>

  <h2 id='projects'>Research Projects</h2>

  <h3 id='HandMocap'>Hand Mocap</h3>
  <p>In progress</p>

  <h3 id='LayoutDesign'>Motion Guided Interior Design</h3>
  <p>
      <b>Yutong Liang</b>, <a href='https://shellguo.com/' target='_blank'>Michelle Guo</a> and <a href='https://pei-xu.github.io/' target='_blank'>Pei Xu</a>
  </p>
  <div class="content">
  <img
    class="image-wrapper"
    src={design_path}
    loading="lazy"
    alt="Layout Design"
  />
  <p>
   To facilitate daily activities and movement, indoor layouts must be easy to navigate and comfortable. Therefore, we integrate motion considerations into the design process. For one particular scene, we used motion synthesis and inverse dynamics to evaluate it, followed by optimization with CMA-ES. This approach significantly improved metrics related to human movement distance and energy consumption for grabbing objects. In the future, we aim to refine our metric calculations and incorporate more personalized characteristics into indoor scene design.
  </p>
  <p>
    <a href='https://youtu.be/5CHdcELwdmM' target='_blank'>Video [YouTube]</a>
    |
    <a href='https://drive.google.com/file/d/1EcV7oFHbNf5Os1IQlSh89UTDEI1yTqhe/view?usp=sharing' target='_blank'>Slides [Google Slides]</a>
  </p>
  </div>

  <h3 id='SimiSketch'>SimiSketch</h3>
  <p>Fenghao Dong and Yang He* and <b>Yutong Liang*</b> and Zirui Liu and Yuhan Wu and Peiqing Chen and Tong Yang</p>
  <div class="content">
  <img
    class="image-wrapper"
    src={simisketch_path}
    loading="lazy"
    alt="SimiSketch"
  />
  <p>
  We propose SimiSketch, a sketching algorithm designed to tackle this specific problem of estimating similarity between sets. 
  We first present two simpler versions that employ intuitive sketches for similarity estimation. Subsequently, we formally introduce SimiSketch and leverage SALSA to enhance accuracy. To validate our algorithms, we conduct extensive testing on synthetic datasets, real-world network traffic, and text articles. Our experiment shows that compared with the state-of-the-art, SimiSketch can improve the accuracy by up to 42 times, and increase the throughput by up to 360 times. The complete source code is open-sourced and available on GitHub for reference.
  </p>
  <p>
    <a href='https://arxiv.org/abs/2405.19711' target='_blank'>Paper [Arxiv]</a>
    |
    <a href='https://github.com/SimiSketch/SimiSketch' target='_blank'>Code [GitHub]</a>
  </p>
  </div>

  <h2 id='education'>Education</h2>
  <Timeline
    events={[
      {
        date: 'Sep 2021 - Jul 2025',
        icon: '🎓',
        content: '<a href="https://www.pku.edu.cn/" target="_blank">Peking University</a>',
      },
      {
        date: 'Sep 2018 - Jul 2021',
        icon: '🏫',
        content: '<a href="https://nkzx.tj.edu.cn/" target="_blank">Nankai High School</a>',
      }
    ]}
  />

  <!-- Awards -->
  <h2 id='awards'>Awards</h2>
  <Timeline
    events={[
      {
        date: 'Sep 25, 2024',
        icon: '🎓',
        content: '<a href="https://www.pku.edu.cn" target="_blank">2024 PKU Scholarship (CNY 5000, TOP 5.7%)</a>',
      },
      {
        date: 'Sep 21, 2024',
        icon: '🧑‍💻',
        content: '<a href="https://xgb.pku.edu.cn/xsjl/bjdxjl/82371.htm" target="_blank">2024 PKU Outstanding Research Award</a>',
      },
      {
        date: 'Sep 22, 2023',
        icon: '🎓',
        content: '<a href="https://www.pkuef.org/info/1133/3708.htm" target="_blank">2023 AEON Scholarship (CNY 10000, TOP 10%)</a>',
      },
      {
        date: 'Sep 22, 2023',
        icon: '🧑‍💻',
        content: '<a href="https://xgb.pku.edu.cn/xsjl/bjdxjl/82371.htm" target="_blank">2023 PKU Merit Student</a>',
      },
      {
        date: 'Sep 22, 2022',
        icon: '🎓',
        content: '<a href="https://www.pkuef.org/info/1133/3717.htm" target="_blank">2022 Shenzhen Stock Exchange Scholarship (CNY 5000, TOP 20%)</a>',
      },
      {
        date: 'Sep 22, 2022',
        icon: '🧑‍💻',
        content: '<a href="https://xgb.pku.edu.cn/xsjl/bjdxjl/82371.htm" target="_blank">2022 PKU Outstanding Academic Award</a>',
      },
      {
        date: 'Dec 25, 2021',
        icon: '🎓',
        content: '<a href="https://www.gotopku.cn/index/detail/1259.html" target="_blank">2021 PKU New Student Scholarship (CNY 10000)</a>',
      },
    ]}
  />

  <!-- tools -->
  <h2 id='skills'>Skills</h2>
  <ToolSection
    class='mb-5'
    title='Language'
    tools={[
      {
        name: 'C',
        description: 'Programming Language',
        href: 'https://en.wikipedia.org/wiki/C_(programming_language)',
        iconPath: 'c'
      },
      {
        name: 'C++',
        description: 'Programming Language',
        href: 'https://en.cppreference.com/w/cpp/language',
        iconPath: 'cpp'
      },
      {
        name: 'Python',
        description: 'Programming Language',
        href: 'https://www.python.org/',
        iconPath: 'python'
      },
      {
        name: 'Rust (Learning)',
        description: 'Programming Language',
        href: 'https://www.rust-lang.org/',
        iconPath: 'rust'
      },
      {
        name: 'Latex',
        description: 'Paper & Homework Writing',
        href: 'https://www.latex-project.org/',
        iconPath: 'latex'
      },
      {
        name: 'Markdown',
        description: 'Docs & Blogs Writing',
        href: 'https://www.markdownguide.org/',
        iconPath: 'markdown'
      },
      {
        name: 'Shell',
        description: 'Scripting',
        href: 'https://en.wikipedia.org/wiki/Unix_shell',
        iconPath: 'shell'
      },
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Coding'
    tools={[
      {
        name: 'Warp',
        description: 'Terminal',
        href: 'https://warp.dev/',
        iconPath: 'warp'
      },
      {
        name: 'Cursor',
        description: 'IDE',
        href: 'https://www.cursor.com/',
        iconPath: 'cursor'
      },
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        iconPath: 'vscode'
      },
      {
        name: 'GitHub',
        description: 'Code Hosting',
        href: 'https://github.com/',
        iconPath: 'github'
      },
      {
        name: 'Git',
        description: 'Version Control',
        href: 'https://git-scm.com/',
        iconPath: 'git'
      },
      {
        name: 'PyTorch',
        description: 'Deep Learning & Optimization',
        href: 'https://pytorch.org/',
        iconPath: 'pytorch'
      },
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development Tools'
    tools={[
      {
        name: 'Rerun',
        description: 'Visualize multimodal data over time',
        href: 'https://rerun.io/',
        iconPath: 'rerun'
      },
      {
        name: 'Blender',
        description: '3D Modeling',
        href: 'https://www.blender.org/',
        iconPath: 'blender'
      },
      {
        name: 'CVAT',
        description: 'Annotation Tool',
        href: 'https://www.cvat.ai/',
        iconPath: 'cvat'
      },
      {
        name: 'Docker',
        description: 'Containerization',
        href: 'https://www.docker.com/',
        iconPath: 'docker'
      },
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Arc',
        description: 'Broswer',
        href: 'https://arc.net/',
        iconPath: 'arc'
      },
      {
        name: 'Safari',
        description: 'Broswer',
        href: 'https://www.apple.com/safari/',
        iconPath: 'safari'
      },
      {
        name: 'Notion',
        description: 'Literature Review & Keep Diary',
        href: 'https://www.notion.so/',
        iconPath: 'notion'
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        iconPath: 'typora'
      },
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'MacOS Sonoma',
        description: 'MacBook Pro',
        href: 'https://www.apple.com/macos/',
        iconPath: 'apple'
      },
      {
        name: 'Ubuntu 22.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        iconPath: 'ubuntu'  
      },
    ]}
  />

  <!-- social-networks -->
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    Welcome to follow me on the following social networks!
  </p>
  <Substats />

  <!-- interests -->
  <h2 id='interests'>Interests</h2>
  <ul>
  <li>
  <p>
    I love Speed Cubing (fast solving Rubik's Cube)!
  </p>
  <p>
    I'm the current Peking University record holder for Pyraminx Single!
  </p>
  <p>
    I got a 9.47s for 3 by 3 cube in Los Angeles 2024 and a 2.36s for Pyraminx in Sacramento 2024.
    This is my <a href='https://www.worldcubeassociation.org/persons/2017LIAN26' target='_blank'>WCA page</a>!
  </p>
  <p> 
    Here's a <a href='https://youtu.be/VmGOCXLCCgc' target='_blank'>video (YouTube)</a> of my speed-cubing, 
    feel free to check it out.
    There are also some Rubik's Cube blogs on this website, discover them!
  </p>
  </li>
  <li>
    I also love playing tennis! But not a professional player, just for fun!
  </li>
  </ul>

  <!-- gossips -->
  <h2 id='gossips'>Gossips</h2>
  <Collapse title='What TV show do you like?'>
    I love watching <a href='https://www.doctorwho.tv/' target='_blank'>Doctor Who</a>! It gives me a sense if seeing the world in a different way.I've been watching it for 10 years now, from Peter Capaldi and I'm still not tired of it.
  </Collapse>
  <Collapse title='What Japanese anime do you like to watch?'>
    I have watched <a href='https://en.wikipedia.org/wiki/Attack_on_Titan' target='_blank'>Attack on Titan</a>, 
    <a href='https://en.wikipedia.org/wiki/Fullmetal_Alchemist' target='_blank'>Fullmetal Alchemist</a>, 
    <a href='https://en.wikipedia.org/wiki/Initial_D' target='_blank'>Initial D</a>, 
    and also love <a href='https://en.wikipedia.org/wiki/Your_Lie_in_April' target='_blank'>Your Lie in April</a>! 
    I fell in love with the music in <a href='https://en.wikipedia.org/wiki/Your_Lie_in_April' target='_blank'>Your Lie in April</a> 
    the first time I listened to them!
  </Collapse>
  <Collapse title='What is your favorite book?'>
    I love reading the <a href='https://www.wizardingworld.com/' target='_blank'>Harry Potter</a> series. I've read it many times before watching <a href='https://www.doctorwho.tv/' target='_blank'>Doctor Who</a>.
  </Collapse>
  
  <Comment slot='bottom' />

  <script>
    const profileImage = document.getElementById('profile-image') as HTMLImageElement | null;
    const imagePaths = [
      '/images/about/1.jpeg',
      '/images/about/2.jpeg',
      '/images/about/3.jpeg',
      '/images/about/4.jpeg',
      '/images/about/5.jpeg',
    ];
  
    function getRandomIndex(max: number) {
      return Math.floor(Math.random() * max);
    }

    if (profileImage) {
      let currentIndex = getRandomIndex(imagePaths.length);
      profileImage.src = imagePaths[currentIndex];

      profileImage.addEventListener('click', () => {
        currentIndex = (currentIndex + 1) % imagePaths.length;
        profileImage.src = imagePaths[currentIndex];
      });
    }
  </script>
</PageLayout>
